html,
body {
  scroll-behavior: smooth;
  height: 100%;
  /* overflow-x: hidden; */
}

body,
nav {
  background: rgba(0, 0, 0, 0.4);
  /* position: relative; */
}

/* #team a[class^=carousel-control] {
  display: none;
} */

section {
  height: 100vh;
}

footer {
  height: 10vh;
}

.parent {
  position: relative;
}

.child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.h1 {
  color: #135204;
}

.container-fluid {
  padding: 0;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, .75);
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: rgba(255, 255, 255, .95);
}

.vertical-center {
  /* Fallback for browsers do NOT support vh unit */
  min-height: 100%;
  /* These two lines are counted as one :-)       */
  /* min-height: 100vh; */

  display: flex;
  align-items: center;
}

.middle {
  margin: 0 auto;
  width: 50%;
  text-align: center;
}

#logo-image {
  padding-left: 5rem;
  width: 250px;
  height: 80px;
}

#welcome h1 {
  font-size: 3rem;
  text-align: left;
}

#welcome .transbox {
  flex-flow: row;
  justify-content: space-around;
}

#home {
  margin-top: 10px;
}

#our-vision {
  /* The image used */
  background-image: url("https://i.imgur.com/gOytgNX.jpg");
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  color: whitesmoke !important;
}

#testimonial {
  /* The image used */
  background-image: url("https://i.imgur.com/WAKTHSL.jpg");

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: whitesmoke !important;
}

#welcome {
  background-image: url("https://i.imgur.com/soZore8.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#contact-us-image {
  /* The image used */
  background-image: url("https://i.imgur.com/PS2pF3Y.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.transbox {
  display: flex;
  flex-flow: column;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
  color: whitesmoke;
}

/* .nav-link.active {
  color: darkseagreen !important;
} */

.designation {
  color: #777;
}

section h1 {
  text-align: center;
  padding: .5rem 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700 !important;
}

/* All carousels */
#projects-carousel h3 {
  font-weight: 700;
}

#projects {
  margin-top: 1rem;
}

#main-carousel .carousel-caption {
  background: #ebebeb;
  margin: 0 auto;
  padding: 1rem;
  color: black;
  width: 600px;
  box-shadow: 0px 0px 30px #aaaaaa;
  bottom: 40%;
}

#main-carousel h2 {
  font-weight: 700;
}

.carousel-caption a {
  transition: cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s;
}

.carousel-caption a[role=button]:hover {
  opacity: .6;
}

/* edit above line for button hover state */

#team-carousel {
  width: 60vw;
  margin: 0 auto;
}

#team-carousel .carousel-caption {
  position: static;
  color: black;
}

.team-member-block {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  text-align: left;
}

.team-member-block div {
  padding: 15px;
}

.team-member-photo img {
  height: 304px;
}

::selection {
  background-color: #74c050;
}

#scroll-to-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  cursor: pointer;
  border: none;
  border-radius: 50%;
}

#scroll-to-top:hover {
  background: #74c050;
  color: white;
  border: none;
}

#scroll-to-top:focus {
  box-shadow: 0 0 0 0.2rem rgba(32, 118, 76, 0.25);
}

@media only screen and (max-width: 768px) {
  .middle {
    width: 90%;
  }

  #team-carousel {
    width: 100vw;
  }

  #logo-image {
    padding-left: 3rem;
  }
}

@media only screen and (max-width: 1200px) {
  .middle {
    width: 70%;
  }

  #logo-image {
    padding-left: 1rem;
  }

  #team-carousel {
    width: 70vw;
  }

  #main-carousel .carousel-caption {
    bottom: 20%;
  }
}